/* Arabic font and layout */
body {
  margin: 0;
  padding: 0;
  font-family: 'Changa', sans-serif;
  background-color: #fdf6ff; /* light lavender */
  direction: rtl;
}

/* Video header */
.header-video {
  width: 100%;
height: 450px;
  display: block;
  box-shadow: 0 0 21px #e0c3fc; /* soft purple glow */
}

/* Welcome text */
.welcome {
  text-align: center;
  font-size: 3.5rem;
  margin-top: 58px;
  color: #4e6348; /* soft violet */
  text-shadow: 0 0 12px #d8bfff; /* pastel glow */
  font-weight: bold;
}
/* Welcome link styling */
.welcome a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/* Sidebar navigation */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #f3e8ff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  box-shadow: -5px 0 15px #e0c3fc;
  z-index: 1000;
}

.sidebar a {
  padding: 10px 30px;
  text-decoration: none;
  font-size: 1.5rem;
  color: #4e6348;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #4e6348;
}

.closebtn {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 2rem;
  color:#4e6348;
  cursor: pointer;
}

