/* General Layout */
body {
  margin: 0;
  padding: 0;
  font-family: 'Changa', sans-serif;
  background-color: #fdf6ff;
  direction: rtl;
  display: flex;
}

/* Sidebar */
.sidebar {
  width: 220px;
  background-color: #f3e8ff;
  padding: 20px;
  box-shadow: 0 0 10px #e0c3fc;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
}

.sidebar nav a {
  display: block;
  margin: 15px 0;
  text-decoration: none;
  color: #4e6348;
  font-size: 1.2rem;
}

.sidebar nav a:hover {
  color:#4e6348;
}

/* Main Content */
.main-content {
  margin-right: 240px;
  padding: 20px;
  flex: 1;
}

/* Heading */
.welcome {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 30px;
  color: #4e6348;
  text-shadow: 0 0 12px #d8bfff;
}

/* Video */
.contact-video {
  width: 100%;
  margin: 40px 0;
  display: flex;
  justify-content: center;
}

.contact-video video {
  width: 100%;
  max-width: 700px;
  border-radius: 12px;
  box-shadow: 0 0 20px #e0c3fc;
}

/* Footer */
.contact-footer {
  text-align: center;
  margin-top: 40px;
}

.contact-footer a {
  text-decoration: none;
  color:#4e6348;
  font-size: 1.2rem;
}

.contact-footer a:hover {
  color: #4e6348;
}
